@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
margin-right: 15px;
color:#367A7A;
letter-spacing: 0.5px;
transition: 0.5s;
}
.navbar-brand{
color: #9C2F92;
letter-spacing: 0.5px;
}
h2{
color: #2e4567;
letter-spacing: 0.5px;
font-family: raleway;
}